package web

templ Menu() {
<a href="/machines" title="Тренажеры">Тренажеры</a>
                    <a href="/exercises" title="Упражнения">Упражнения</a>
                    <a href="/exercises" title="Упражнения">Группы мышц</a>
}